<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details</title>
</head>
<body>
    <h1>Details Page</h1>
    <div>
        <select>
            <option>1</option>
        </select>
    </div>
</body>
</html>

